*.pyc
_pycache_/
 hacer la abstracion con 10 atributos 5 metodos 
 ceacion de un objeto
 1-mesa-
 2-silla-
 3-smarfone-
 4-banco uni-
 5-transporte-
 6-coche-
 7-personaje de un juego-
 8-alumno-
 9- libro de bibloteca 
 10-perro-
       